@model IEnumerable<Mod03_ChelasMovies.DomainModel.Views.WallItem>


@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @foreach (var item in Model)
    {
        @Html.Partial("DomainBaseControl", item.EntityChanged);
    }
</p>
