<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    
    <httpHandlers>
      <!--<add verb="GET" path="getWmImg" type="Mod03_WebApplications.ThumbsAndWatermarking.ThumbsAndWaterMarkHandler"/>-->
      <add verb="GET" path="getWmImg" type="Mod03_WebApplications.ThumbsAndWatermarking.WaterMarkHandlerFactory"/>
      
      <add verb="POST" path="Login.html" type="Mod03_WebApplications.ThumbsAndWatermarking.WebApp.LoginHandler"/>
      <add verb="GET" path="Logout" type="Mod03_WebApplications.ThumbsAndWatermarking.WebApp.LogoutHandler"/>
    </httpHandlers>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpModules>
      <add name="RequestTimeModule" type="Mod03_WebApplications.ThumbsAndWatermarking.WebApp.RequestTimeModule" />
      <add name="MyAuthenticationModule" type="Mod03_WebApplications.ThumbsAndWatermarking.WebApp.MyAuthenticationModule"/>
    </httpModules>
  </system.web>
  <location path="Private">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      
    </system.web> 
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>