body { background-color: black; color: white }
div.username { background: lightgray; }
div.password { background: darkgray; }
div span { font-size: 20px; font-weight: bold; text-transform:capitalize;}
div { display: list-item; list-style-type: square; }
div.username, div.password { display: inline-block }



